/* Toolbar and new tab transparency */
html, html > *, html > * > * {
  -moz-appearance: none !important;
}
/* Contains all toolbars and tab bar */
#navigator-toolbox {
  background: rgba(0, 0, 0, 0.7) !important;
  border: none !important;
}
/* Individual bars (bookmarks, url bar, etc) are this class */
.browser-toolbar {
  background: transparent !important;
}
:root {
  --tabpanel-background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Remove window controls (minimize, maximize, close) */
.titlebar-buttonbox-container{ display:none }

/* Hide close button on tabs until hover */
.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: none !important;
  background-color: transparent !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: block !important;
}

/* Make tab bar full width */
#tabbrowser-tabs {
  width: 100vw !important;
  border-inline-start: none !important;
}
.titlebar_spacer {
  display: none !important;
  width: 0 !important;
}

/* Remove Toolbar Items */
#tracking-protection-icon-container,
#star-button-box,
#pageActionButton,
#pageActionSeparator,
#PanelUI-button,
#forward-button,
.tab-secondary-label {
  display: none !important;
}
#alltabs-button {
    display: none !important;
}
#firefox-view-button{
    display: none !important;
}


/* hide extensions button but keep it clickable */
#unified-extensions-button{
    width: 3px;
    padding-inline: 0 !important
}
#unified-extensions-button > .toolbarbutton-icon {
    width: 0 !important;
}

/* adjust tab bar height */
*|*:root {
 /* match awesomewm wibar */
 --tab-min-height:      20px !important; /* adjust */
 --tab-min-width:       60px !important; /* adjust */
 --tab-border-radius: 2px !important;
 /* prevent background color from being offset */
 --tab-block-margin: 0px !important;
}
#tabbrowser-tabs,
#tabbrowser-tabs > #tabbrowser-arrowscrollbox,
.tabbrowser-tabs .tabbrowser-tab {
  min-height: var(--tab-min-height) !important;
  max-height: var(--tab-min-height) !important;
}
.tab-content{
  font-size: 10px !important;
}

/* Removes gaps around search bar */
toolbarspring {
  display: none;
}
