[Desktop Entry]
Categories=Development
Comment=IDE for Java SE, Groovy & Scala development Powerful environment for building Google Android apps Integration with JUnit, TestNG, popular SCMs, Ant & Maven. Also known as IntelliJ.
Exec=temp-nix-launcher jetbrains.idea-ultimate
GenericName=Paid-for Java, Kotlin, Groovy and Scala IDE from jetbrains
Icon=idea-ultimate
Name=Nix Run IntelliJ IDEA
StartupWMClass=jetbrains-idea
Type=Application
Version=1.4
