[Desktop Entry]
Name=Nix Run VIA
Exec=temp-nix-launcher via
Terminal=false
Type=Application
Icon=via-nativia
StartupWMClass=VIA
X-AppImage-Version=3.0.0
Comment=Yet another keyboard configurator
Categories=Development;
